/* add-device */
.form-wrapper {
    margin-top: 5px;
    padding: 25px 15%;
}

/* list-device */
.table-container {
    margin-top: 5px;
}

.table-wrapper {
    margin-top: 25px;
    color: rgb(1, 1, 28);
}

h2 {
    font-size: 25px;
    color: rgba(55, 48, 48, 0.77);
    text-align: center;
}